<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<head>
    <section class="naglowek">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"  charset="UTF-8">
        <div class="header">
            <title>panel admin</title>
            <h2 class="godzina">
                <div id="clock"></div>
            </h2>
            <img th:src="@{/images/PhpMyAdmin_logo_v2.png}" width="200px" height="100px" class="center">
            <a th:href="@{/logout}" style="text-decoration:none" class="btn button2">wyloguj </a>

        </div>
    </section>
</head>

<body onload="timeCount();">
<script>
    function timeCount() {
        var today = new Date();

        var hour = today.getHours();
        if(hour<10)hour = "0"+hour;

        var minute = today.getMinutes();
        if(minute<10)minute = "0"+minute;

        var second = today.getSeconds();
        if(second<10)second = "0"+second;

        document.getElementById("clock").innerHTML = hour+":"+minute+":"+second;

        setTimeout("timeCount()", 1000);
    }
</script>

<section class="srodek">
        <div class="lewypanelhome">
            <h3>Dostępne funkcje:</h3>
            <h3><a style="text-decoration:none" th:href="@{/admin/addServer}" class="btn button4">Dodaj serwer</a></h3>
            <h3><a style="text-decoration:none" th:href="@{/admin/addRouter}" class="btn button4">Dodaj router</a></h3>
            <h3><a style="text-decoration:none" th:href="@{/admin/addVpn}" class="btn button4">Dodaj vpn</a></h3><!--   tutaj  podasz strone do zdalne pulpit poki co register-->
            <h3><a style="text-decoration:none" th:href="@{/admin/addRdp}" class="btn button4">Dodaj rdp</a></h3>
            <h3><a style="text-decoration:none" th:href="@{/admin/addFtp_data}" class="btn button4">Dodaj ftp</a></h3> <!--   tutaj  podasz strone do zarządzania bazą danych poki co register-->
            <h3><a style="text-decoration:none" th:href="@{/admin/addData_base}" class="btn button4">Dodaj bazedanych</a></h3> <!--   tutaj  podasz strone do zarządzania bazą danych poki co register-->
            <h3><a style="text-decoration:none" th:href="@{/index}" class="btn button4" >POWRÓT</a></h3><!--   tutaj  podasz strone do panel admin poki co register-->
            <!--            <h3><a style="text-decoration:none" th:href="@{/rdp}" class="btn button4" >Rdp</a></h3>-->
            <!--            <h3><a style="text-decoration:none" th:href="@{/register}" class="btn button4" >Vpn</a></h3>-->
        </div>
</section>
</body>
<section class="stopka">
    <div class="dpanel">

        <h1>@Lubie_placki_2023</h1>

    </div>
</section>
</html>
