<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/mobile.css}">
<head>
    <section class="naglowek">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"  charset="UTF-8">
        <div class="header">
            <title>panel zarzadzania</title>
            <h2 class="godzina">
                <div id="clock"></div>
            </h2>
            <img th:src="@{/images/PhpMyAdmin_logo_v2.png}" class="logo">
            <h2 class="zalogowany"> zalogowany: <th th:text="${user.getLogin()}"></th></h2>
            <a th:href="@{/logout}" style="text-decoration:none" class="btn button2">wyloguj </a>

        </div>
    </section>
</head>

<body onload="timeCount();">
<script>
                function timeCount() {
                var today = new Date();

                var hour = today.getHours();
                if(hour<10)hour = "0"+hour;

                var minute = today.getMinutes();
                if(minute<10)minute = "0"+minute;

                var second = today.getSeconds();
                if(second<10)second = "0"+second;

                document.getElementById("clock").innerHTML = hour+":"+minute+":"+second;

                setTimeout("timeCount()", 1000);
                }
                </script>


<section class="srodek">
    <div th:if="${param.AccessDenied}">
        <div class="alert alert-danger">Brak uprawnień</div>
    </div>
    <div th:if="${param.error}">
        <div class="alert alert-danger">Błąd strony</div>
    </div>
    <div class="pinner">
        <div class="lewypanelhome">
            <h2>Dostępne funkcje:</h2>
            <h2><a style="text-decoration:none" th:href="@{/panel/database}" class="btn button4">Zarządzanie bazą danych</a></h2>
            <h2><a style="text-decoration:none" th:href="@{/panel/ftp}" class="btn button4">Ftp</a></h2>
            <h2><a style="text-decoration:none" th:href="@{/panel/rdp}" class="btn button4"> Pulpity zdalne</a></h2>
            <h2><a style="text-decoration:none" th:href="@{/panel/router}" class="btn button4"> Routery</a></h2>
            <h2><a style="text-decoration:none" th:href="@{/panel/server}" class="btn button4">Serwery</a></h2>
            <h2><a style="text-decoration:none" th:href="@{/panel/vpn}" class="btn button4">vpn</a></h2>
            <h2 th:if="${auth==true}"><a style="text-decoration:none" th:href="@{/admin/ftpdata}" class="btn button4" >Dane FTP</a></h2>
            <h2 th:if="${auth==true}"><a style="text-decoration:none" th:href="@{/admin}" class="btn button4" >Panel administracji</a></h2>
        </div>

        <div class="prawypanelhome">
            <h2>
                <table class="tabela-serwery">
                    <tbody>
                    <tr th:if="${servery.isEmpty()}">
                        <td colspan="2"> Brak serwerów :( </td>
                        </tr>
                            <tr th:each="server : ${servery}">
                            <td><span th:text="${server.name}"> name </span></td>
                            <td><span th:text="${server.ip_address}"> ip </span></td>
                            <td><span th:if="${server.status}=='ON'" style="color: green"> ● </span>
                            <span th:if="${server.status}=='OFF'" style="color: red"> ● </span>
                            <span th:if="${server.status!='ON' and server.status!='OFF'}" style="color: yellow"> ● </span></td>
                        </tr>
                    </tbody>
                </table>
            </h2>
            <h2>Adres serwera: <span th:text="${host}"></span></h2>
            <button class="btn">restart serwera</button>
        </div>
    </div>
</section>
</body>
<section class="stopka">
    <div class="dpanel">

        <h1>@Lubie_placki_2023</h1>

    </div>
</section>
</html>
