<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<head>
    <section class="naglowek">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"  charset="UTF-8">
        <div class="header">
            <title>Rejestracja</title>
            <h2 class="godzina">
                <div id="clock"></div>
            </h2>
            <img th:src="@{/images/PhpMyAdmin_logo_v2.png}" width="200px" height="100px" class="center">
        </div>
    </section>
</head>

<body onload="timeCount();">
<script>
                function timeCount() {
                var today = new Date();

                var hour = today.getHours();
                if(hour<10)hour = "0"+hour;

                var minute = today.getMinutes();
                if(minute<10)minute = "0"+minute;

                var second = today.getSeconds();
                if(second<10)second = "0"+second;

                document.getElementById("clock").innerHTML = hour+":"+minute+":"+second;

                setTimeout("timeCount()", 1000);
                }
                </script>
<section class="srodek">
    <div th:if="${param.success}">
        <div class="alert alert-info">Pomyślnie zarejestrowane !</div>
    </div>
    <div class="spanel">
        <form action="#" th:action="@{/register/saveUser}" th:object="${user}" method="post" class="form">
            <div class="inputbox">
                <span>Login:</span>
                <input type="text" placeholder="Login" th:field="*{login}" />
                <div class="alert" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
            </div>
            <div class="inputbox">
                <span>Hasło: </span>
                <input type="password" placeholder="Haslo" th:field="*{password}" />
                <div class="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div class="inputbox">
                <span>E-mail:</span>
                <input type="text" placeholder="Email" th:field="*{email}" />
                <div class="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <input class="btn" type="submit" value="Zarejestruj się"/>
            <a class="btn" style="text-decoration:none" th:href="@{/index}">Powrót do logowania</a>
        </form>
    </div>
</section>
</body>
<section class="stopka">
    <div class="dpanel">

        <h1>@Lubie_placki_2023</h1>

    </div>
</section>
</html>