<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{css/style.css}">
<head>
    <section class="naglowek">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta charset="UTF-8">
        <div class="header">
            <title>Serwery</title>
            <h2 class="godzina">Godzina: </h2>
            <img th:src="@{images/PhpMyAdmin_logo_v2.png}" width="200px" height="100px" class="center">
            <h2 class="zalogowany"> zalogowany użytkownik: admin</h2>
            <button class="btn button2">wyloguj</button>
        </div>
    </section>
</head>
<body>
    <h1>Dostępne serwery</h1>
    <table>
        <thead>
        <tr>
            <th> Nazwa </th>
            <th> Adres ip </th>
            <th> Login </th>
            <th> Hasło </th>
            <th> Status </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${servery.isEmpty()}">
            <td colspan="2"> Brak serwerów :( </td>
        </tr>
        <tr th:each="server : ${servery}">
            <td><span th:text="${server.ip_address}"> ip </span></td>
            <td><span th:text="${server.name}"> name </span></td>
            <td><span th:text="${server.login}"> ip </span></td>
            <td><span th:text="${server.password}"> name </span></td>
            <td><span th:text="${server.status}"> ip </span></td>
        </tr>
        </tbody>
    </table>

    <p><button>restart</button>&emsp;<button>wyłącz</button>&emsp;<button>wyloguj</button>&emsp;<button>powrót do panelu zarządzania</button></p>

</body>
<section class="stopka">
    <div class="dpanel">

        <h1>@Lubie_placki_2023</h1>

    </div>
</section>
</html>