<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGOWANIE</title>
</head>
<body>
    <h1>Witamy w panelu sterowania WEB Admin, zaloguj się lub zarejestruj w celu uzyskania dostępu do przycisku.</h1>
    <form>
      Login:<br /><input type="text" name="login/email" /> <br/>
      Hasło:<br /><input type="password" name="haslo" /> <br/> <br/>
    </form>
    <p><button>zaloguj</button>&emsp;<button>zarejestruj</button></p>
</body>
</html>