<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
    <form action="addNewUser">
      E-mail:<br/><input type="text" name="email" /> <br/>
      Login:<br/><input type="text" name="login" /> <br/>
      Hasło:<br/><input type="password" name="password" /> <br/>
      <label>
        <input type="checkbox" name="regulamin"/> Lubie placki! <br/>
      </label>
      <input type="submit" value="Zarejestruj się"/>
    </form>
    <p><button>Powrót do streony domowej</button></p>
</body>
</html>