:root{
	--main-color:#41ac10;
	--black:#222;
	--white:#fff;
	--light-black:#777;
	--light-white:#fff9;
	--dark-bg:rgba(0,0,0,.7);
	--light-bg:#eee;
	--border:.1rem solid var(--black);
	--box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

.naglowek{
	background-color: var(--black);
	text-align: center;
  width:100%;
  height: 11%;
}
.centerrouter{
  margin-left: 14.35%;
  }

.srodek{
background-image:  url(https://images2.alphacoders.com/105/1059227.jpg);
background-size: 100%;
background-position: center 100%;
background-repeat: no-repeat;
	color:var(--black);
	width: 100%;
	height: 65%;
	padding-top: 8%;
	
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Calibri;
  }
.srodek .inputbox input {
	width: 100%;
	padding: 0.5rem 0.5rem;
	font-size: 1.2rem;
	color: var(--light-black);
	margin-top: 1.5rem;
	border: var(--border);
	font-family: Calibri;
  }
.srodek .form span{
	font-size: 1.5rem;
}
.stopka{
	background-color: var(--black);
	width: 100%;
	height: 12%;
	color:var(--white);
	position: fixed;
  	right: 1;
  	left: 1;
  	z-index: 1030;
}
.stopka h1 {
	text-align: center;
	
	font-size: 1.5rem;
  }
.form{
	background-color: #acacac;
	text-align: center;
	width: 15%;
	height: 15%;
	padding: 20px 50px 50px 50px;
	margin: auto;
	box-shadow: 10px 10px 50px rgb(156,124,110);
	border-radius: 12px;
	opacity:0.81; 
	font-family: Calibri;
}
.container{
display: flex;
}
.llpanel {
  background-color: #acacac;
  text-align: center;
  width: 25%;
  height: 50%;
  padding: 20px 50px 50px 50px;
  margin-left: 1rem;
  box-shadow: 10px 10px 50px rgb(156, 124, 110);
  border-radius: 12px;
  opacity: 0.81;
  font-family: Calibri;
  float: left;
}
.sspanel {
  background-color: #acacac;
  text-align: center;
  width: 12.5%;
  height: 15%;
  padding: 20px 50px 50px 50px;
  margin: 0 auto;
  box-shadow: 10px 10px 50px rgb(156, 124, 110);
  border-radius: 12px;
  opacity: 0.81;
  font-family: Calibri;
}

.pppanel {
  background-color: #acacac;
  text-align: center;
  width: 25%;
  height: 50%;
  padding: 20px 50px 50px 50px;
  box-shadow: 10px 10px 50px rgb(156, 124, 110);
  border-radius: 12px;
  opacity: 0.81;
  font-family: Calibri;
  margin-right: 1rem;
}


#log{
	color:var(--white);
	background-color: blueviolet;
	font-size:large;
	padding: 10px;
	border-radius: 12px;
}
.btn{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color:var(--white);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
	font-family: Calibri;
}
.button1 {
width: 100px;
}
.button2 {
background: #0a0a0a;
        border: 2px solid black;
        border-color: #373737;
        float: right;
        margin-right: 1rem;
        position: relative;
        top: 1rem;
}
.btn:hover{
    background: var(--light-black);

}
@media screen and(max-width:700px){
		#form{
			width:65%;
			height: 50%;
			padding:40px;
		}
}

.testbutton {
	font-family: arial;
	color: #F7FDFF;
	font-size: 12px;
	text-shadow: 1px 1px 0px #7CACDE;
	box-shadow: 0px 1px 1px #BEE2F9;
	padding: 10px 25px;
	border-radius: 10px;
	border: 2px solid #3866A3;
	background: #690613;
	background: linear-gradient(to top, #690613, #D64045);
}
.testbutton:hover {
	color: #14396A;
	background: #F71616;
	background: linear-gradient(to top, #F71616, #D10000);
}